version: "3"

services:
  frontend:
    container_name: apc-frontend-green
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    # 볼륨 설정
    volumes:
      - /app/node_modules
      - ./frontend:/app
    stdin_open: true
  backend-api:
    container_name: apc-backend-api-green
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    env_file: ./.env
  backend-log:
    container_name: apc-backend-log-green
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9082:9080"
    env_file: ./.env